<section class="explain-block">
  <div class="explain-main">
    <div class="explain-wrap">
      <h3 class="explain-header" style="color:#204e3c;">Our superpower?
        <br>
        Asking ‘Why’, relentlessly.</h3>
        <p class="" style="color:#000;">
          Imagine if our products could respond to your every question in real time. While we’re not quite there yet, we’ve taken the initiative to ask the questions you might have and gathered all the answers for you. We've delved into the details, so you're never left wondering. Here’s what we’ve been curious about on your behalf.
        </p>
    </div>
   <div class="container">
    <div class="explain-formBlock">
      <div class="row gy-4">
        <div class="col-lg-6 col-sm-6 col-md-6 explain-handle-left explain-position">
          <div class="explain-img">
            <img src="../../../assets/images/shine/organic/source.webp" alt="">
          </div>
          <div class="explain-card">
            <div class="explain-head">
              <p class="header">
                Source
              </p>
              <p class="explain-desc">
                How do we source the most potent forms of any ingredient? We go wherever our research points us, no matter which corner of the Earth that is. Setting out on ingredient hunts is our idea of fun.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 explain-handle-right explain-position">
          <div class="explain-img">
            <img src="../../../assets/images/shine/organic/4Why_2_5ad7068c-2c30-4557-abb9-73b60e4b6703.avif" alt="">
          </div>
          <div class="explain-card">
            <div class="explain-head">
              <p class="header">
                Ingredients
              </p>
              <p class="explain-desc">
                For us a product is only as good as its ingredients. We obsessively study each ingredient and its effects. Putting together the most efficacious and well balanced blends is a non-negotiable goal we put out for ourselves.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 explain-handle-left explain-position">
          <div class="explain-img">
            <img src="../../../assets/images/shine/organic/4Why_3_01189ba6-6b2b-4b27-90e7-85206fe78c1f.avif" alt="">
          </div>
          <div class="explain-card">
            <div class="explain-head">
              <p class="header">
                Formulation
              </p>
              <p class="explain-desc">
                Every Juicy Chemistry product has a unique formulation of compounds that work together to solve the issue at hand. We love sharing both the science and the magic behind our products. Our world is built on the back of both.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 explain-handle-right explain-position">
          <div class="explain-img">
            <img src="../../../assets/images/shine/organic/4Why_4_de114472-26f6-4626-85a6-3752c7503894.avif" alt="">
          </div>
          <div class="explain-card">
            <div class="explain-head">
              <p class="header">
                Efficacy
              </p>
              <p class="explain-desc">
                Getting our products clinically tested, certified, and marked safe for use by dermatologists is of great importance to us. It's something we're actively working on, because we believe proof is the essence.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>
</section>
