/* src/app/product-card/product-card.component.css */
.card-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px;
  white-space: nowrap;
}

.product-card {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 0 8px;
  text-align: center;
  flex: 0 0 auto; /* Ensure cards don't shrink */
  width: 200px; /* Fixed width for each card */
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.product-title {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-price {
  color: #e53935;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.product-rating {
  color: #ffeb3b;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #0056b3;
}

.favorite-button i {
  font-size: 1.5em;
  color: grey;
  cursor: pointer;
}

.favorite-button .fa-heart {
  color: red;
}
.fa-heart {
  font-size: 1.5rem;
  cursor: pointer;
  justify-content: flex-end;
  &.fas{
    color: red !important;
  }
}

.product-rating i {
  color: #ccc;
  cursor: pointer;
}

.product-rating i.fas {
  color: #ffeb3b;
}



