<div class="cardBlock">
<div class="product-head">
  <h3 class="header-3">Radiate Love and Elegance</h3>
</div>
<div class="container-fluid card-container">
  <div class="product-list">
    <div class="d-flex product-overview">
      <div class="product-card" *ngFor="let product of products">
        <button (click)="buyProduct(product)">
          <img
            [src]="product.image1"
            alt="{{ product.title }}"
            class="product-image"
          />
        </button>
        <div class="product-body">
          <div class="product-body-title">
              <p class="product-title">{{ product.title }}</p>
          </div>
          <div class="product-prize">
            <p class="product-prize-rate">₹{{product.price}}</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
