.navTab-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;

  .navTab-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    .navTab-item {
      color: #000;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      padding: 15px;
      border-radius: 4px;

      &.active {
        background-color: #99015B;
        color: #fff;
      }

      img {
        width: 125px;
      }
    }
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;

    #login,
    #cart {
      // margin-left: 20px;

      a {
        text-decoration: none;
        color: #007bff;
        padding: 0.5rem 1rem;
        border-radius: 4px;

        &.active {
          background-color: #007bff;
          color: white;
        }

        &.active-sheshine {
          background-color: #ff6347; /* Example color for Sheshine */
          color: white;
        }

        &.active-shine {
          background-color: #32cd32; /* Example color for Shine */
          color: white;
        }

        img {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .navTab-block {
    flex-direction: column;
    align-items: flex-start;

    .navTab-items {
      flex-direction: column;
      width: 100%;

      .navTab-item {
        width: 100%;
        justify-content: center;
        padding-left: 1rem;
        margin-right: 0;
        margin-bottom: 10px;

        img {
          width: 125px;
        }
      }
    }

    .nav {
      width: 100%;
      justify-content: end;
      margin-top: 10px;

      #login,
      #cart {
        margin-left: 0;
        // margin-right: 20px;

        a {
          padding: 0.5rem;

          img {
            height: 30px;
            width: 30px;
          }
        }
      }
    }

  }

}
