<nav class="navTab-block" *ngIf="showNavbar">
  <ul class="navTab-items">
    <li>
      <a routerLink="/sheshine" routerLinkActive="active" class="navTab-item">
        <img src="../../assets/images/sheshine-logo.svg" alt="SHESHINE">
      </a>
    </li>
    <li>
      <a routerLink="/shine" routerLinkActive="active" class="navTab-item">
        <img src="../../assets/images/shine-logo.svg" alt="SHINE ORGANICS" style="width: 165px;">
      </a>
    </li>
    <li>
      
    </li>
  </ul>

  
  <div class="nav">
    <div class="search">
     
    </div>
    <div id="login">
      <a class="login" routerLink="/toggle">
        <img height="30px" width="30px" src="../../assets/images/navtab/person-circle.svg" alt="Login">
      </a>
    </div>
    <div id="cart">
      <a routerLink="/cart" class="cart">
        <img height="30px" width="30px" src="../../assets/images/navtab/cart.svg" alt="Cart">
      </a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
