<section class="about">
  <div class="about-block">
    <div class="about-titlemain">
      <p class="about-title">Our Story</p>
    </div>
    <div class="container">
     <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-desc-block">
          <div class="about-desc">
            <div class="about-main">
              <p class="about-mainTitle">
                <span>KPM Super Shopee : </span>A Legacy of Trust and Excellence in Villupuram
              </p>
              <div class="about-mainImportant">
                <p class="about-desc-main">
                  KPM Super Shopee isn't just the first supermarket in Villupuram—it's a landmark that has set the standard for quality and service in the region. Established with a vision to revolutionize the shopping experience for our community, we have consistently led the way, ensuring that every customer who walks through our doors finds what they need, along with the assurance of superior quality.


                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-block">
          <div class="img-cover">
            <img src="/assets/images/mall.jpg" alt="">

          </div>
        </div>
      </div>
     </div>
    </div>
    <!-- 2 Section -->
     <div class="about-second">
      <div class="about-head">
        <h2 class="about-head-title">Lorem ipsum dolor</h2>
      </div>
      <p class="about-desc-manager">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.ager
      </p>
     </div>


  </div>
</section>
