 #signup {
     padding-top: 10px;
     text-align: center;

     a {
         text-decoration: none;
     }
 }

 .container {
     padding-top: 50px;
 }

 .card {
     margin-top: 20px;
 }

 .btn-block {
     width: 100%;
 }

 #login {
     margin-top: 1rem;

 }
