<section>
  <div class="product-detail" *ngIf="product">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="main_image position-relative">
            <img [src]="product.mainimage" alt="" class="img-fluid slide">
            <i class="fa-heart position-absolute top-0 -0 m-3" [ngClass]="{'fas': isFavorite, 'far': !isFavorite}"
              [class.text-danger]="isFavorite" (click)="toggleFavorite(product)">
            </i>
          </div>
          <div class="option d-flex justify-content-center mt-3">
            <img *ngFor="let image of product.images" [src]="image" alt="" class="img-thumbnail"
              (click)="changeImage(image)">
          </div>
        </div>
        <div class="col-md-6 product-details">
          <div class="details-content">
            <h5 class="card-title">{{ product.name }}</h5>
            <div>
              <p class="card-text"><b>Suitable for: </b>{{ product.suitable}}</p>
            </div>
           
            <div class="product-rating">
              <i *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" [class]="getStarClass(i, product.rating)"
                (click)="setRating(product, i + 1)"></i>
              Rating: {{ product.rating }} / 5
            </div>
           

<button type="button" [class]="getClass(1)" class="collapsible" (click)="toggleContent(1)">Description</button>
<div class="content" [style.display]="isActive(1) ? 'block' : 'none'">
<p class="card-text">{{ product.description }}</p>
</div>
<button type="button" [class]="getClass(2)" class="collapsible" (click)="toggleContent(2)">Key Benefits</button>
<div class="content" [style.display]="isActive(2) ? 'block' : 'none'">
<p class="card-text">{{ product.keybenefit }}</p>
</div>
            
            <p class="card-text"><b>Size: </b>{{ product.size }}</p>
            <p class="card-text">
              <small class="text-muted"><b>MRP: </b> <del>{{ product.mrp | currency:'INR' }}</del></small>
            </p>
            <p class="card-text">
              <small class="text-muted">Discount: {{ product.discount }}%</small>
            </p>
            <h5 class="card-text">Price: {{ product.price | currency:'INR' }}</h5>
            <button routerLink="/cart" class="btn btn-primary me-2" (click)="addToCart(product)">Add to Cart</button>
            <button class="btn btn-success" (click)="buyNow(product.id)">Buy Now</button>
            <!-- <div class="color d-flex mt-3">
              <span *ngFor="let color of colors" [style.background]="color" class="color-circle"></span>
            </div> -->
            <h5 class="mt-3">Number</h5>
            <div class="add d-flex align-items-center">
              <span class="quantity-btn" (click)="decreaseQuantity()">-</span>
              <label class="mx-2">{{ product.quantity }}</label>
              <span class="quantity-btn" (click)="increaseQuantity()">+</span>
            </div>
              
                
              <div class="review-section">
                <h6>Write a review</h6>
                <textarea [(ngModel)]="reviewText" class="form-control" rows="3" placeholder="Write your review here..."></textarea>
                <button class="btn btn-primary mt-2" (click)="submitReview()">Submit Review</button>
              </div>
              <div class="reviews-section">
              <h6>Reviews:</h6>
              <div class="reviews-container">
                <div *ngFor="let review of reviews | slice:0:10" class="review">
                  <p>{{ review }}</p>
                </div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>