<nav>
  <ul>
    <li>
      <a
        routerLink="/sheshine"
        routerLinkActive="active"
        [ngClass]="{ 'active-sheshine': isRouteActive('/sheshine') }"
        [routerLinkActiveOptions]="{ exact: true }"
        >Sheshine</a
      >
    </li>
    <li>
      <a
        routerLink="/shine"
        routerLinkActive="active"
        [ngClass]="{ 'active-shine': isRouteActive('/shine') }"
        [routerLinkActiveOptions]="{ exact: true }"
        >Shine</a
      >
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
