<div class="profile" *ngIf="user">
    <!-- <div class="user-profile" > -->
        
       <div>
        <div class="user-details" *ngIf="!editMode">
            <div class="user-avatar">
                <img [src]="user.avatarUrl" alt="{{ user.name }}">
            </div>
            <h2>{{ user.name }}</h2>
            <p>Email: {{ user.email }}</p>
            <p>Phone: {{ user.phone }}</p>
            <p>Address: {{ user.address }}</p>
            <button (click)="enableEdit()">Edit Profile</button>
        
        
        </div>
        <div class="user-details" *ngIf="!editMode">
            <button (click)="signOut()">Sign Out</button>
        </div>
       </div>
       
        
        <div class="user-details" *ngIf="editMode">
            <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
                <div>
                    <label for="name">Name:</label>
                    <input id="name" formControlName="name">
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input id="email" formControlName="email">
                </div>
                <div>
                    <label for="phone">Phone:</label>
                    <input id="phone" formControlName="phone">
                </div>
                <div>
                    <label for="address">Address:</label>
                    <input id="address" formControlName="address">
                </div>
                <div>
                    <label for="avatarUrl">Avatar URL:</label>
                    <input id="avatarUrl" formControlName="avatarUrl">
                </div>
                <button type="submit">Save</button>
                <button type="button" (click)="editMode = false">Cancel</button>
            </form>
        </div>
       
    <!-- </div> -->
    <div>
        <h3>Order History</h3>
        <ul>
            <li *ngFor="let order of user.orderHistory">
                <p>Order ID: {{ order.orderId }}</p>
                <p>Product: {{ order.product }}</p>
                <p>Date: {{ order.date }}</p>
                <p>Amount: ${{ order.amount }}</p>
            </li>
        </ul>
    </div>
</div>